.activity-table {
  .text-successful,
  .text-confirmed {
    color: #2dcc70;
  }

  .text-denied,
  .text-rejected,
  .text-unapproved {
    color: #e20d0d;
  }

  .text-pending,
  .text-submitted {
    color: #b3c0ce;
  }

  .text-gray {
    color: #5c6c7f;
  }

  ::v-deep tr > td {
    cursor: pointer;
  }

  ::v-deep .expanded__content {
    box-shadow: none !important;
  }

  ::v-deep .activity-pagination {
    li {
      border-right: 1px solid #B2BAC4;
      &:last-child {
        border-right: 0;
      }
    }
  }

  ::v-deep .v-pagination__item, ::v-deep .v-pagination__navigation {
    border: 0;
    background: none;
    color: var(--v-torus_text-base);
    font-weight: 500;
    box-shadow: none;
    opacity: 0.7;
    margin: 0 5px;
    height: 1.5rem;
    &.primary {
      background: none;
      background-color: transparent !important;
      color: var(--v-primary-base);
      opacity: 1;
    }
  }
}